/* ---------- RESET ---------- */

*{  /*O asterisco significa aplicar a TODOS os elementos do site*/
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ---------- CORPO ---------- */

html, body{
    overflow-x: hidden; /*Esconde a barra de scroll horizontal*/
    font-family:'Poppins', sans-serif;
    background: #fff2ec;    /*Cor do fundo do canto superior direito do cabeçalho (quando o navegador está minimizado no pc)*/
    color:#333; /*Cor de Texto (Cinzento Escuro)*/
}

/* ---------- CABEÇALHO ---------- */
header{
    display:grid;
    /*menu para esquerda x 1fr x menu para direita x botão de encomendar para direita*/
    grid-template-columns:300px 1fr 280px 120px;  /*Cria 4 colunas na mesma linha (Onde tem o menu, logo e o botão de encomendar e outro botão de encomedar, que só é visível quando o ecrã<900px)*/
    align-items:center;
    padding:20px 40px; /*Altura do cabeçalho x Onde começa o cabeçalho(mais à direita/esquerda)*/
    background:#f9ebe1;    /*Cor de fundo do cabeçalho*/
    border-bottom:2px solid #ead2db; /*Cor da linha que separa o cabeçalho e o corpo do site*/
}


.logo img{
    width: 200px;   /*Controla o tamanho do logo no canto superior esquerdo*/
}


nav{        
    display:flex;
    justify-content:center; /*Faz o menu ficar centralizado*/
}


nav ul{
    display:flex;
    gap:35px;   /*Distância entres os diferentes menus*/
    list-style:none; /*Os menus são numerados e esta linha esconde este números, apaecendo apenas o nome do menu sem*/
}


nav a{
    text-decoration:none;   /*Tira o sublinhado das palavras do menu*/
    color:#5d443d;  /*Cor das letras das palvras do menu*/
    font-weight:400;    /*Tamanho das letras do menu*/
    font-size:15px; /*Tamanho das letras do menu*/
    transition:.2s; /*Tempo de duração do menu trocar de cor quando é clicado ou tem o rato em cima*/
}



nav a:hover{    /*Cor ao passar o rato nas palavras do menu*/
    color:#c35784; /*Cor que aparece quando se clica um dos menus do colocar o rato em cima*/
}



.btn-whatsapp:hover{ /*Cor ao passar o rato no 1º botão de encomendar*/
    background:#895562; /*Cor do botão de encomendar (canto superior direito)*/
}


.btn-whatsapp{  /*Botão de encomendar (canto Superior Direito)*/
    justify-self:end;   /*A palavra fica centralizada no botão*/
    background:#D68588; /*Cor do botão*/
    color:white;    /*Cor da escrita dentro do botão de encomendar*/
    text-decoration:none;   /*Retirar sublinhado da palavra*/
    padding:10px 50px; /*Altura do botão x Largura do botão*/
    border-radius:25px; /*Arredonda os cantos do quadrado (botãoo de encomendar)*/
    font-weight:600;    /*O quanto bold fica a escrita do botão*/
}



/*================ INICIO MENU - Corpo do Site =================*/

.Inicio{
    display:grid;
    grid-template-columns:1fr 1fr;  /*2 colunas: uma para escrita e outra para a imagem inicial*/
    align-items:center; /*Centraliza as 2 counas*/
    padding:50px 150px; /*Ajustar altura da seção ; Onde começa a linha, horizontalmente*/
    gap: 100px; /*Ajustar a imagem horizontalmente*/
    background:#f9ebe1; /*Cor de fundo desta seção*/
}


.Inicio-texto{
    max-width:550px;    /*Largura máxima dos textos*/
}


.Inicio h1{ /*Escrita 'Convites Digitais'*/
    font-family:'Cormorant Garamond', serif;
    font-size:100px;
    font-weight:600;
    line-height:1.2;   /*Distância entre linhas dos títulos*/
    color:#5b4038;
    letter-spacing: 5.5px;
    margin-right: 5px;
}


.Inicio span{
    display:block;
    font-family:'Allura', cursive;
    font-size:120px;
    color:#D68588;
    font-weight:400;
    margin-top:15px;
    
}


.subtitulo{
    margin-top:35px;
    font-size:19px;
    font-weight:400;
    color:#5f453e;
}


.categorias{
    margin-top:35px;
    font-size:15px;
    line-height:2;
    color:#6d5b55;
}


.Inicio-botoes{
    display:flex;
    gap:15px;
    margin-top:30px;
}

.btn-principal{
    background:#D68588;
    color:white;
    padding:5px 17px;
    border-radius:25px;
    font-size: 15px;
    text-decoration:none;   /*Retirar sublinhado da palavra*/
    font-weight:400;
}
.btn-principal:hover{ /*Cor ao passar o rato no botão 'VER CATALOGO'*/
    background:#895562;
}


.btn-secundario{
    border:1px solid #e9d5cd;
    color:#5d443d;
    padding:5px 15px;
    border-radius:25px;
    font-size:15px;
    text-decoration:none;   /*Retirar sublinhado da palavra*/
    font-weight:400;
}
.btn-secundario:hover{ /*Cor ao passar o rato no botão 'PEDIR PELO WHATSAPP'*/
    background:#ffffff;
}



.Inicio-imagem{
    display:flex;
    justify-content:center;
}

.Inicio-imagem img{
    width:100%;     /*a imagem ocupa menos espaço dentro da coluna.*/
    max-width:2300px;    /*impede que fique gigante em ecrãs muito grandes*/
    border-radius:25px;
}


/*=========================================
            VANTAGENS
=========================================*/

.vantagens{
    padding:90px 60px;
    background:white;
    text-align:center;
}

.vantagens h2{
    font-family:'Cormorant Garamond', serif;
    font-size:50px;
    color:#5f453e;
    margin-bottom:60px;
}

.vantagens-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:40px;
    align-items:start;
}

.vantagem{
    text-align:center;
    padding:10px;
}

.vantagem:hover{
    transform:translateY(-5px);
}

.icone{
    font-size:38px;
    margin-bottom:18px;
}

.vantagem h3{
    font-family:'Cormorant Garamond', serif;
    font-size:30px;
    font-weight:500;
    color:#5f453e;
    margin-bottom:15px;
}

.vantagem p{
    font-size:20px;
    line-height:1.6;
    color:#6f615d;
}


.vantagem svg{
    width:40px;
    height:40px;
    stroke: #d98ea2;
    stroke-width:1.8;
    margin-bottom: 20px;
}


@media (max-width:900px){
    header{
        grid-template-columns:1fr auto;
        position:relative;
    }

    header > .btn-whatsapp{
        display:none;
    }

    .menu-whatsapp .btn-whatsapp{
        display:flex;   /*O botão de encomendar aparece juntamente com o menu com ecrã < 900px*/
        justify-content:center; /*A escrita fica centralizada*/
        align-items:center; 
        width:100%; /*O quão o botão cobre a escrita*/
        margin:0 auto;
        padding:6px 100;/*Altura do botão x Largura do botão*/
        font-size:16px; /**Tamanho das letras na escrita dentro do botão*/
        font-weight:600;
        justify-content:center;
        align-items:center;
    }

    .menu-mobile{
        display:flex !important;
        visibility:visible !important;
        pointer-events:auto !important;
        justify-self:end;
        align-self:center;
    }

    .menu-whatsapp{
        display:flex !important;
        visibility:visible !important;
        pointer-events:auto !important;
        justify-self:end;
        align-self:center;
    }

    nav{
        position:absolute;
        top:85px;
        left:0;
        width:100%;
        background:#FFF7F4;
        border-top:1px solid #ead2db;
        padding:25px 0;
        z-index:1000;
        opacity:0;
        transform:translateY(-20px);
        visibility:hidden;
        pointer-events:none;
        transition:opacity .35s ease, transform .35s ease;
    }

    nav.ativo{
        opacity:1;
        transform:translateY(0);
        visibility:visible;
        pointer-events:auto;
    }

    nav ul{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:25px;
        padding: 25px 0;
    }

    .Inicio{
        grid-template-columns:1fr;
        padding:60px 30px;
        gap:40px;
    }

    .vantagens-grid{
        align-items:center;
        grid-template-columns:1fr;
        gap:35px;
    }

}


/*=============================
        MENU MOBILE
=============================*/

.menu-mobile{
    display: none;
    visibility: hidden;
    pointer-events: none;
    width:45px;
    height:45px;
    border:3px solid #e8d9d5;
    border-radius:15px;
    background:white;
    cursor:pointer;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:6px;
    transition:.3s;
}



.menu-mobile span{
    display:block;
    width:16px;
    height:2px;
    background:#5d443d;
    border-radius:999px;
    transition:all .3s ease;
}

.menu-mobile:hover{
    background:#faf5f4;
}

.menu-whatsapp{
    display: none;
}

.menu-mobile.aberto span:nth-child(1){
    transform:translateY(8px) rotate(45deg);
}

.menu-mobile.aberto span:nth-child(2){
    opacity:0;
}

.menu-mobile.aberto span:nth-child(3){
    transform:translateY(-8px) rotate(-45deg);
}





/*==================================
            RODAPÉ
==================================*/

footer{

    background:#f9ebe1;
   

    border-top:2px solid #ead2db;   /*Cor da linha que separa body de rodapé*/

}

.footer-conteudo{

    max-width:1500px;

    margin:auto;

    padding:20px 20px;

    display:grid;

    grid-template-columns:2fr 1fr 1.3fr 1.4fr;

    gap:80px;  /*Distancia entre as colunas*/

}

.footer-logo{

    width:190px;

    margin-bottom:20px;

}

.footer-col h3{

    font-family:'Cormorant Garamond', serif;
    font-size:20px; /*Tamanho das letra dos títulos do footer*/
    color:#5b4038;
    margin-bottom:16px; /*Distancia entre o títulos e os subtítulos do footer*/
    font-weight:1000;

}

.footer-col p{

    color:#6d5b55;

    line-height:2;  /*Dstância entres a linha da frase em baixo do logo no footer*/

    font-size:13px; /*Tamanho da frase em baixo do logo do footer*/

}

.footer-col ul{

    list-style:none;

}

.footer-col li{

    margin-bottom:5px;  /*Distância entre os elementos do menu do footer*/

}

.footer-col a{

    color:#556d59;

    text-decoration:none;

    transition:.3s;
    font-size: 15px;

}

.footer-col a:hover{

    color:#D68588;/*Cor ao selecionar um menu no footer*/

}

.footer-redes{

    display:flex;

    gap:5px;

    margin-top:25px;    /*Distânia da frase aos incones abaixo do logo no footer*/

}

.footer-redes a{

    color:#6d5b55;

}

.footer-redes svg{  /*Tamanho dos ícones(20x20 - quadrado)*/

    width:35px;

    height:20px;

}

.footer-col p svg{

    width:15px;

    height:15px;  /*Distância entre a escrita e 'contactos' - coluna 3*/

    margin-right:20px; /*Distância dos ícones até escrita nos contactos*/

    color:#D68588;

    vertical-align:middle;

}

.footer-btn{

    display:inline-flex;

    align-items:center;

    gap:10px;   /*Distância do ícone até a escrita no botão de whatsapp no footer*/

    margin-top:40px;

    padding:10px 30px;

    background:#D68588;

    color:rgb(255, 255, 255) !important;

    border-radius:999px;

    text-decoration:none;

    font-weight:400;

    transition:.3s;

}

.footer-btn:hover{

    background:#895562; /*Cor ao selecionar botão de whasapp*/

}

.footer-bottom{   /*Parte dos direitos reservados*/

    background:#6d5b55; /*Cor de fundo*/

    color:rgb(255, 255, 255);   /*Cor da escrita*/

    text-align:center;  /*Texto alinhado*/

    padding:5px;    /*Altura da seção*/

    font-size:12px; /*Tamanho das letras*/

}


 @media (max-width:900px){

    /* =========================
       FOOTER - TELEMÓVEL/TABLET
       ========================= */

    .footer-conteudo{
        grid-template-columns:1fr;
        padding:30px 30px;
        gap:40px;
      
    }

    .footer-col{
        width:100%;
    }

    .footer-col ul{
        padding:0;
    }

    .footer-btn{
        width:fit-content;
        margin:25px auto 0;
    }


}